argparse==1.2.1
beautifulsoup4==4.3.2
inflect==0.2.5
irc==11.1.1
jaraco.apt==1.0
jaraco.classes==1.1
jaraco.collections==1.0
jaraco.context==1.2
jaraco.functools==1.0
jaraco.itertools==1.1
jaraco.logging==1.0
jaraco.text==1.0
jaraco.timing==1.1
jaraco.util==10.9
more-itertools==2.2
python-mal==0.1.7
pytz==2014.10
requests==2.5.1
six==1.9.0
tempora==1.1
wsgiref==0.1.2
yg.lockfile==2.0
zc.lockfile==1.1.0
