<!doctype html>
<title>{{info.title}}</title>

<h1>{{info.title}}</h1>
<h2>All Titles</h2>
<ul>
	{% for title in titles %}
	<li>{{title}}</li>
	{% endfor %}
</ul>
<input type="text" id="addTitle" /><button id="addTitleBTN">Add Title</button>
<h2>Episodes</h2>
{% if episodes %}
<ul>
	{% for episode in episodes %}
		<li><a href="/episode/{{episode.id}}">{{info.title}} - Episode {{episode.number}}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>No episodes... :( </p>
{% endif %}
<a href="/">Home</a>

<script>
var addTitleText = document.getElementById("addTitle");
var addTitleButton = document.getElementById("addTitleBTN");
var xmlhttp = new XMLHttpRequest();

xmlhttp.onreadystatechange = function() {
	if (xmlhttp.readyState==4 && xmlhttp.status==200) {
		console.log(xmlhttp.responseText);
		addTitleText.value = "";
	}
}
addTitleBTN.onclick = function(e) {
	if(addTitleText.value.length==0){
		return;
	}
	xmlhttp.open("POST", window.location.href, true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlhttp.send("title=" + addTitleText.value);
};
</script>